

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background: #f1f3f8;
  color: #222;
}



.sidebar {
  width: 260px;
  background: #1e1f26;
  color: #fff;
  padding: 20px;
  position: fixed;
  height: 100%;
  transition: 0.3s ease;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
}

.sidebar a {
  display: block;
  padding: 12px 15px;
  color: #eee;
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 12px;
  transition: 0.25s;
}

.sidebar a:hover,
.sidebar a.active {
  background: #4f46e5;
  color: #fff;
}



.content {
  margin-left: 260px;
  padding: 30px;
  width: calc(100% - 260px);
}

header {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
}



.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-4px);
}

.card h3 {
  font-size: 22px;
}

.card p {
  margin-top: 10px;
  opacity: 0.8;
}




.form-container {
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 600px;
}

.form-container label {
  font-size: 15px;
  font-weight: 600;
}

.form-container input,
.form-container textarea,
.form-container select {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #bbb;
}

button {
  padding: 12px 20px;
  background: #4f46e5;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #3e38c6;
}



.table-container {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 14px;
  border-bottom: 1px solid #ddd;
}

th {
  background: #f3f4f6;
  text-align: left;
}

.action-btn {
  padding: 7px 14px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.edit {
  background: #22c55e;
  color: white;
}

.delete {
  background: #ef4444;
  color: white;
}



.status {
  padding: 7px 12px;
  border-radius: 6px;
  color: white;
  font-weight: 600;
}

.pending { background: #f59e0b; }
.shipped { background: #3b82f6; }
.completed { background: #22c55e; }



@media (max-width: 900px) {
  .sidebar {
    width: 0;
    overflow: hidden;
  }
  .content {
    margin-left: 0;
    width: 100%;
  }
}
