@import url("./styles/base/reset.css");
@import url("./styles/base/variables.css");
@import url("./styles/base/global.css");
@import url("./styles/base/base.css");

@import url("./styles/components/header.css");
@import url("./styles/components/hero.css");
@import url("./styles/components/products.css");
@import url("./styles/components/product-card.css");
@import url("./styles/components/modal.css");
@import url("./styles/pages/cartDrawer.css");
@import url("./styles/components/footer.css");

@import url("./styles/pages/checkout.css");
@import url("./styles/pages/product-detail.css");
@import url("./styles/pages/login.css");
@import url("./styles/pages/register.css");
@import url("./styles/pages/forgetpassword.css");

@import url("./styles/utilities/responsive.css");
@import url("./styles/utilities/empty-states.css");
@import url("./styles/utilities/animations.css");
