@import url('./auth.css');

.auth-page {
    width: 100%;
    margin : auto;
    font-family: var(--font-family-primary);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-main);
    padding: 1rem;
}
