
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: #f5f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Full page container */
.auth-page {
    width: 100%;
    max-width: 420px;
}

/* Card container */
.auth-card {
    background: #ffffff;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.08);
}


.auth-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 6px;
    color: #111827;
}

.auth-subtitle {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 18px;
}

.form-label {
    font-size: 14px;
    font-weight: 600;
    color: #374151;
    margin-bottom: 6px;
    display: block;
}

.form-input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 14px;
}

.form-input:focus {
    outline: none;
    border-color: #6366f1;
}

/* buttonn */
.btn-primary {
    width: 100%;
    padding: 12px;
    background: #6366f1;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-primary:hover {
    background: #4f46e5;
}


.auth-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.auth-footer a {
    color: #6366f1;
    text-decoration: none;
    font-weight: 500;
}

.auth-footer a:hover {
    text-decoration: underline;
}
