@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("/src/styles/base/reset.css");
@import url("/src/styles/base/variables.css");
@import url("/src/styles/base/global.css");
@import url("/src/styles/base/base.css");

@import url("/src/styles/components/buttons.css");
@import url("/src/styles/components/footer.css");
@import url("/src/styles/components/header.css");
@import url("/src/styles/components/hero.css");
@import url("/src/styles/components/product-card.css");
@import url("/src/styles/components/products.css");
@import url("/src/styles/components/skeleton.css");

@import url("/src/styles/pages/auth.css");
@import url("/src/styles/pages/home.css");
@import url("/src/styles/pages/checkout.css");
@import url("/src/styles/pages/product-detail.css");

@import url("/src/styles/utilities/animations.css");


